body {
  background-color: rgb(170, 179, 176);
  color: black;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.white-font {
  color: white;
}

.head {
  height: 10vh;
}

.parent {
  color: black;
  padding: 5px 0px;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.child3 {
  text-align: left;
}
.beast {
  height: 70vh;
  width: 25vw;
}

.first {
  width: 30vw;
  font-size: 20px;
}

.parent2 {
  margin-left: 1cm;
}

.thor1 {
  height: 70vh;
  width: 25vw;
  margin-left: 1cm;
}
