body {
  background-color: rgb(170, 179, 176);
  color: black;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.white-font {
  color: white;
}

.head {
  height: 10vh;
}

.parent {
  color: black;
  padding: 5px 0px;
  background-position: center;
  text-align: center;
}

.beast {
  width: 400px;

  padding: 75px;
  background-color: black;
}

.thor1 {
  width: 400px;

  padding: 75px;
  background-color: black;
}

.nazi {
  width: 400px;

  padding: 75px;
  background-color: black;
}
.images {
  text-align: center;
}
